* {
    box-sizing: border-box;
}

@font-face {
font-family: twilight;
src: url(twilight.ttf);
}

body {
    background: url(benz-trees.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container {
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.title {
    font-family: twilight, sans-serif;
    text-align: center;
    font-size: 3rem;
    color: #002D03;
    margin-bottom: 0;
    
}

.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: -50;
}

button {
    background-color: #002D03;
    color:rgb(244, 240, 235);
    border-radius: 4px;
    border-style: none;
    font-size: 1rem;
    padding: 15px;
}

